<div style="display: flex;flex-direction: column;height: 400px;width: 500px;margin: 20px;">
  <p>เพื่มสถานที่ท่องเที่ยวใหม่</p>
  <label>ชื่อสถานที่</label>
  <input type="text" name="name" #name value="{{selectedLandmark.name}}">
  <label>รายละเอียดสถานที่</label>
  <textarea name="detail" id="" cols="30" rows="10" #detail value="{{selectedLandmark.detail}}">

  </textarea>
  <label>URL รูปภาพสถานที่</label>
  <input type="url" name="url" #url value="{{selectedLandmark.url}}">
  <label>เลือกประเทศ</label>
  <select name="country" #country>
    <option *ngFor="let country of countries" value="{{country.idx}}
    " [selected] ="selectedLandmark.country== country.name">
      {{country.name}}
    </option>

    <!-- <option value="1" selected>ประเทศไทย</option>
    <option value="2">ญี่ปุ่น</option>
    <option value="3">เนเธอร์แลนด์</option> -->
  </select>
  <button (click)="save(name.value,detail.value,url.value,+country.value,selectedLandmark.idx)">บันทึกข้อมูล</button>
  <button (click)="close()">Close</button>
</div>